.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.bar-container {
    padding-bottom: 20px;
    height: 230px;
}

.bar {
    width: 8px;
    height: 50px;
    background-color: White;
    margin: 1px;
    border: 1px solid black;
}
